* {
	text-align:center;
	font-family:monospace;
	padding:0;
	margin:0;
	background-color:#080808;
	color:#dddddd;
}
a {
	text-decoration:none;
	font-weight:bold;
}
body {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:flex-start;
}
footer {
	height:65px;
	width:150px;
	padding:10px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-around;
}
.main {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:flex-start;
}
#display {
	width:285px;
	height:65px;
	background-color:#282828;
	margin:100px 0 20px 0;
	border-radius:5px;
	border:solid #555 1px;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:auto;
}
.keyboard {
	width:350px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	flex-flow:wrap;
}
.key{
	width:65px;
	height:50px;
	background-color:#282828;
	margin:4px;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:5px;
	border:solid #555 1px;
}
.key:active {
	background-color:#555;
}
.equal {
	margin:4px;
	width:138px;
	height:50px;
	background-color:#282828;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:5px;
	border:solid #555 1px;
}
